* {
  margin: 0px;
}

body {
  background-image: radial-gradient(rgb(0, 0, 92), rgb(4, 0, 45));
  background-repeat: no-repeat;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
}

header {
  border: solid rgba(255, 255, 255, 0.497);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 500px !important;
  margin: 0 auto;
}
header img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .score {
  background-color: white;
  border-radius: 10px;
  padding: 5px 20px;
}
header .score p:nth-of-type(1) {
  color: blue;
  font-size: 20px;
  margin: 0px;
}
header .score p:nth-of-type(2) {
  color: gray;
  font-weight: bold;
  font-size: 50px;
  margin: 0px;
}

.modal {
  background-color: white;
  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: left;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: 100px;
  left: 37%;
  border-radius: 20px;
  z-index: 1;
}
.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.modal .close:hover {
  scale: 1.2;
}
.modal img {
  margin-top: 20px;
}

.win {
  box-shadow: 0 0 0 20px rgba(128, 128, 128, 0.315), 0 0 0 40px rgba(128, 128, 128, 0.199), 0 0 0 80px rgba(128, 128, 128, 0.068) !important;
}

.playing {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  color: white;
  margin: 50px 0 0 10vw;
}
.playing h1 {
  text-align: center;
}
.playing button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  color: red;
  font-weight: bold;
  transition: all 0.5s;
  cursor: pointer;
}
.playing button:hover {
  background-color: aqua;
  color: black;
  border-radius: 0px;
}
.playing div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 10px;
}
.playing div div {
  padding: 20px;
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s;
}
.playing div div img {
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}
.playing div:hover img {
  scale: 1.2;
}

.chosen {
  background-image: url(images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  width: 500px;
  height: 500px;
  position: relative;
  margin: 0px auto;
}
.chosen .scissor {
  position: absolute;
  top: 100px;
  left: 100px;
}
.chosen .paper {
  position: absolute;
  top: 100px;
  left: 320px;
}
.chosen .rock {
  position: absolute;
  top: 300px;
  left: 210px;
}
.chosen .scissor:active {
  scale: 1.1;
}
.chosen .paper:active {
  scale: 1.1;
}
.chosen .rock:active {
  scale: 1.1;
}

.scissor,
.paper,
.rock {
  background-color: white;
  padding: 20px;
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  transition: all 0.2s;
}
.scissor img,
.paper img,
.rock img {
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}

.scissor img,
.paper img,
.rock:hover img {
  scale: 1.2;
}

.scissor {
  border: 15px solid orange;
  box-shadow: 1px 10px 1px rgba(255, 166, 0, 0.637);
}

.paper {
  border: 15px solid blue;
  box-shadow: 1px 10px 1px rgba(0, 0, 255, 0.637);
}

.rock {
  border: 15px solid red;
  box-shadow: 1px 10px 1px rgba(255, 0, 0, 0.616);
}

.rules {
  border: solid 1px;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: transparent;
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  top: 90vh;
  right: 20px;
}

.rules:hover {
  background-color: aqua;
  color: black;
}

.pt {
  text-align: center;
}/*# sourceMappingURL=style.css.map */